{% extends 'Rev_Artisan/base.html' %}
{% block content %}
<div id="information-information" class="container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">About
                Us</a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h2>
                About Us</h2>
            <p>RevArtisan Spares is one of India's largest car spare parts e-commerce platform, to provide you with car
                parts online. The Spares wing marks the entry of the already renowned car service provider RevArtisan
                embracing to Go spirit into the automotive parts industry as well. RevArtisan Spares has tried to put on
                offer most of the OES/OEM manufacturers in all the categories required to keep your car in the best of
                condition and running.

                As keeping a check on car’s servicing is crucial, getting the best quality car spares for a damaged car
                part is essential too and as a matter of fact, we tend to provide both without fail.</p>
        </div>
    </div>
</div>
{% endblock content %}