{% extends 'Rev_Artisan/base.html' %}
{% block content %}
<div id="information-information" class="container">
    <ul class="breadcrumb">
        <li><a href="http://rozer4.demo2.towerthemes.com/"><i class="fa fa-home"></i></a></li>
        <li><a
                href="http://rozer4.demo2.towerthemes.com/index.php?route=information/information&amp;information_id=4">About
                Us</a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <p>
                About Us</p>
        </div>
    </div>
</div>
{% endblock content %}