{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <footer>
        <div class="footer-center">
            <div class="container">

            </div>
        </div>
        <div class="footer-links">
            <div class="container">
                <div class="inner btn-group-vertical">
                    <div class="row">
                        <div class="col col-md-4 col-sm-6 col-xs-12">
                            <div class="btn-group">
                                <div id="btnGroupVerticalDrop4" data-toggle="dropdown"
                                    class="dropdown-toggle title">About us<i
                                        class="visible-xs ion-chevron-down"></i></div>
                                <div class="dropdown-menu footer-content" aria-labelledby="btnGroupVerticalDrop4">
                                    <div class="footer_about_us">
                                        <div class="desc_info">
                                            <p class="txt_info">We are here to provide orignal parts of maruti</p>
                                            <div class="need_help">
                                                <p>NEED HELP?</p>
                                                <p class="phone">(+91) 7778043990 </p>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <div class="col col-md-2 col-sm-6 col-xs-12">
                            <div class="btn-group">
                                <div id="btnGroupVerticalDrop3" data-toggle="dropdown"
                                    class="dropdown-toggle title">Customer Support<i
                                        class="visible-xs ion-chevron-down"></i></div>
                                <div class="dropdown-menu footer-content" aria-labelledby="btnGroupVerticalDrop3">
                                    <ul class="list-unstyled">
                                        <li><a href="#">My
                                                Account</a></li>
                                        <li><a href="#">Order
                                                History</a></li>
                                        <li><a href="#">Returns</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col col-md-2 col-sm-6 col-xs-12">
                            <div class="btn-group">
                                <div id="btnGroupVerticalDrop2" data-toggle="dropdown"
                                    class="dropdown-toggle title">Information<i
                                        class="visible-xs ion-chevron-down"></i></div>
                                <div class="dropdown-menu footer-content footer-information"
                                    aria-labelledby="btnGroupVerticalDrop2">
                                    <ul class="list-unstyled">
                                        <li><a href="{% url 'about-page' %}">About
                                                Us</a></li>
                                        <li><a href="#">Delivery
                                                Information</a></li>
                                        <li><a href="#">Privacy
                                                Policy</a></li>
                                        <li><a href="#">Terms
                                                &amp; Conditions</a></li>
                                        <li><a href="{% url 'contact-page' %}">Contact
                                                Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-4 col-sm-6 col-xs-12">


                            <div class="social">
                                <ul>
                                    <li><a href="#" class="facebook"
                                            target="_blank" title="Facebook"></a></li>
                                    <li><a href="#" target="_blank" class="twitter"
                                            title="Twitter"></a></li>
                                    <li><a href="#" target="_blank" class="google" title="Google+"></a></li>
                                    <li><a href="#" target="_blank"
                                            class="youtube" title="Youtube"></a></li>
                                    <li><a href="#" class="instagram" title="Instagram"></a></li>
                                    <li><a href="#" class="pinterest" title="Pinterest"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="text-powered">Copyright <a href="#">2022Project</a>. All
                            Rights Reserved.</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="payment">

                            <img src="#" alt="payment">
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>