{% extends 'Rev_Artisan/base.html' %}
{% block content %}
<div class="breadcrumbs">
    <div class="container">
        <div class="container-inner">
            <h1>Checkout</h1>
            <ul class="breadcrumb">
                <li><a href="{% url 'home-page' %}"><i class="fa fa-home"></i></a></li>
                <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                <li><a href="{% url 'checkout' %}">Checkout</a></li>
            </ul>
        </div>
    </div>
</div>
<br>
<!-- <div id="checkout-checkout" class="container">

    <div class="row">
        <div id="content" class="col-sm-12">

            <div class="panel-group" id="accordion">
                1st cart view
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapse" data-toggle="collapse" data-parent="#accordion"
                                class="accordion-toggle" aria-expanded="true">Step 1: Currently In Cart <i
                                    class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapse" aria-expanded="true">
                        <div class="panel-body">
                            current cart view
                            <div id="checkout-cart" class="container">
                                <div class="row">
                                    <div id="content" class="col-sm-9">
                                        <h1>Shopping Cart
                                        </h1>
                                        <form method='post' enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <td class="text-center">Image</td>
                                                            <td class="text-left">Product Name</td>
                                                            <td class="text-left">Model</td>
                                                            <td class="text-left">Quantity</td>
                                                            <td class="text-right">Unit Price</td>
                                                            <td class="text-right">Total</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for view in cart %}
                                                        <tr>
                                                            <td class="text-center"> <a
                                                                    href="{% url 'product-detail' view.product.slug %}"><img
                                                                        src="{{view.product.image.url}}"
                                                                        alt="{{view.product.name}}"
                                                                        title="{{view.product.name}}"
                                                                        class="img-thumbnail" /></a> </td>
                                                            <td class="text-left"><a
                                                                    href="{% url 'product-detail' view.product.slug %}">{{view.product.name}}</a>
                                                                <br />
                                                            </td>
                                                            <td class="text-left">{{view.product.brand}}</td>
                                                            <td class="text-left">
                                                                <div class="input-group btn-block"
                                                                    style="max-width: 200px;">
                                                                    <span>{{view.quantity}}</span>


                                                                    <input type="hidden" name="id" value="{{view.id}}"
                                                                        class="form-control">

                                                                </div>
                                                            </td>
                                                            <td class="text-right" name="product_p">
                                                                ₹{{view.product.price}}</td>
                                                            <td class="text-right">₹{{view.total}}</td>

                                                        </tr>

                                                        {% endfor %}
                                                    </tbody>

                                                </table>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-offset-8">
                                                <table class="table table-bordered">

                                                    <tr>
                                                        <td class="text-right"><strong>Total:</strong></td>
                                                        <td class="text-right">₹{{ total }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons clearfix">
                                <div class="pull-right">
                                    <input type="button" value="Continue" id="button-payment-address"
                                        data-loading-text="Loading..." class="btn btn-primary">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                2nd address view
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapse-payment-address" data-toggle="collapse"
                                data-parent="#accordion" class="accordion-toggle" aria-expanded="true">Step 2: Delivery
                                Address <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapse-payment-address" aria-expanded="true" style="">
                        <div class="panel-body">
                            <form class="form-horizontal">


                                <br>
                                <div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-payment-firstname">First
                                            Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="firstname" value="" placeholder="First Name"
                                                id="input-payment-firstname" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-payment-lastname">Last
                                            Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="lastname" value="" placeholder="Last Name"
                                                id="input-payment-lastname" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-payment-address-1">Address
                                            1</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="address_1" value="" placeholder="Address 1"
                                                id="input-payment-address-1" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-payment-city">City</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="city" value="" placeholder="City"
                                                id="input-payment-city" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label class="col-sm-2 control-label" for="input-payment-postcode">Post
                                            Code</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="postcode" value="" placeholder="Post Code"
                                                id="input-payment-postcode" class="form-control">
                                        </div>
                                    </div>

                                </div>
                                <div class="buttons clearfix">
                                    <div class="pull-right">
                                        <input type="button" value="Continue" id="button-payment-address"
                                            data-loading-text="Loading..." class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                            <!-- <script type="text/javascript">
                                    $('input[name=\'payment_address\']').on('change', function () {
                                        if (this.value == 'new') {
                                            $('#payment-existing').hide();
                                            $('#payment-new').show();
                                        } else {
                                            $('#payment-existing').show();
                                            $('#payment-new').hide();
                                        }
                                    });
</script>
                            <script type="text/javascript">
                                    $('#collapse-payment-address .form-group[data-sort]').detach().each(function () {
                                        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#collapse-payment-address .form-group').length - 2) {
                                            $('#collapse-payment-address .form-group').eq(parseInt($(this).attr('data-sort')) + 2).before(this);
                                        }

                                        if ($(this).attr('data-sort') > $('#collapse-payment-address .form-group').length - 2) {
                                            $('#collapse-payment-address .form-group:last').after(this);
                                        }

                                        if ($(this).attr('data-sort') == $('#collapse-payment-address .form-group').length - 2) {
                                            $('#collapse-payment-address .form-group:last').after(this);
                                        }

                                        if ($(this).attr('data-sort') < -$('#collapse-payment-address .form-group').length - 2) {
                                            $('#collapse-payment-address .form-group:first').before(this);
                                        }
                                    });
</script>
                            <script type="text/javascript">
                                    $('#collapse-payment-address button[id^=\'button-payment-custom-field\']').on('click', function () {
                                        var element = this;

                                        $('#form-upload').remove();

                                        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

                                        $('#form-upload input[name=\'file\']').trigger('click');

                                        if (typeof timer != 'undefined') {
                                            clearInterval(timer);
                                        }

                                        timer = setInterval(function () {
                                            if ($('#form-upload input[name=\'file\']').val() != '') {
                                                clearInterval(timer);

                                                $.ajax({
                                                    url: 'index.php?route=tool/upload',
                                                    type: 'post',
                                                    dataType: 'json',
                                                    data: new FormData($('#form-upload')[0]),
                                                    cache: false,
                                                    contentType: false,
                                                    processData: false,
                                                    beforeSend: function () {
                                                        $(element).button('loading');
                                                    },
                                                    complete: function () {
                                                        $(element).button('reset');
                                                    },
                                                    success: function (json) {
                                                        $(element).parent().find('.text-danger').remove();

                                                        if (json['error']) {
                                                            $(element).parent().find('input[name^=\'custom_field\']').after('<div class="text-danger">' + json['error'] + '</div>');
                                                        }

                                                        if (json['success']) {
                                                            alert(json['success']);

                                                            $(element).parent().find('input[name^=\'custom_field\']').val(json['code']);
                                                        }
                                                    },
                                                    error: function (xhr, ajaxOptions, thrownError) {
                                                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                    }
                                                });
                                            }
                                        }, 500);
                                    });
</script>
                            <script type="text/javascript">
                                    $('.date').datetimepicker({
                                        language: 'en-gb',
                                        pickTime: false
                                    });

                                $('.time').datetimepicker({
                                    language: 'en-gb',
                                    pickDate: false
                                });

                                $('.datetime').datetimepicker({
                                    language: 'en-gb',
                                    pickDate: true,
                                    pickTime: true
                                });
</script>
                            <script type="text/javascript">< !--
                                    $('#collapse-payment-address select[name=\'country_id\']').on('change', function () {
                                        $.ajax({
                                            url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
                                            dataType: 'json',
                                            beforeSend: function () {
                                                $('#collapse-payment-address select[name=\'country_id\']').prop('disabled', true);
                                            },
                                            complete: function () {
                                                $('#collapse-payment-address select[name=\'country_id\']').prop('disabled', false);
                                            },
                                            success: function (json) {
                                                if (json['postcode_required'] == '1') {
                                                    $('#collapse-payment-address input[name=\'postcode\']').parent().parent().addClass('required');
                                                } else {
                                                    $('#collapse-payment-address input[name=\'postcode\']').parent().parent().removeClass('required');
                                                }

                                                html = '<option value=""> --- Please Select --- </option>';

                                                if (json['zone'] && json['zone'] != '') {
                                                    for (i = 0; i < json['zone'].length; i++) {
                                                        html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                                                        if (json['zone'][i]['zone_id'] == '1904') {
                                                            html += ' selected="selected"';
                                                        }

                                                        html += '>' + json['zone'][i]['name'] + '</option>';
                                                    }
                                                } else {
                                                    html += '<option value="0" selected="selected"> --- None --- </option>';
                                                }

                                                $('#collapse-payment-address select[name=\'zone_id\']').html(html);
                                            },
                                            error: function (xhr, ajaxOptions, thrownError) {
                                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                            }
                                        });
                                    });

                                $('#collapse-payment-address select[name=\'country_id\']').trigger('change');
</script> -->
<!-- </div>
                    </div>
                </div>
                3rd payment view
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapse-payment" data-toggle="collapse"
                                data-parent="#accordion" class="accordion-toggle" aria-expanded="true">Step 3: Payment
                                <i class="fa fa-caret-down"></i></a></h4>
                    </div>
                    <div class="panel-collapse collapse" id="collapse-payment" aria-expanded="true" style="">
                        <div class="panel-body">
                            payment details
                        </div>
                        <div class="buttons clearfix">
                            <div class="pull-right">
                                <input type="button" value="Pay" id="button-payment-address"
                                    data-loading-text="Loading..." class="btn btn-primary">
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div> -->
<div class="container">
    <main>

        {% csrf_token %}

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill">{{ cart|length }}</span>
                </h4>
                {% for view in cart %}
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{view.product.name}}</h6>
                            <small class="text-muted">{{view.product.description}}</small>
                        </div>
                        <span class="text-muted">₹{{view.total}}</span>
                    </li>
                                      
                    
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total(₹INR)</span>
                        <strong>₹{{ total }}</strong>
                    </li>
                </ul>


            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing address</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">First name</label>
                            <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Last name</label>
                            <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label for="username" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="username" placeholder="Username" required>
                                <div class="invalid-feedback">
                                    Your username is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label for="email" class="form-label">Email <span
                                    class="text-muted">(Optional)</span></label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <label for="address2" class="form-label">Address 2 <span
                                    class="text-muted">(Optional)</span></label>
                            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                        </div>

                        <div class="col-md-5">
                            <label for="country" class="form-label">Country</label>
                            <select class="form-select" id="country" required>
                                <option value="">Choose...</option>
                                <option>United States</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="state" class="form-label">State</label>
                            <select class="form-select" id="state" required>
                                <option value="">Choose...</option>
                                <option>California</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="zip" class="form-label">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required>
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address">
                        <label class="form-check-label" for="same-address">Shipping address is the same as my billing
                            address</label>
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="save-info">
                        <label class="form-check-label" for="save-info">Save this information for next time</label>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3">Payment</h4>



                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label for="cc-name" class="form-label">Name on card</label>
                            <input type="text" class="form-control" id="cc-name" placeholder="" required>
                            <small class="text-muted">Full name as displayed on card</small>
                            <div class="invalid-feedback">
                                Name on card is required
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="cc-number" class="form-label">Credit card number</label>
                            <input type="text" class="form-control" id="cc-number" placeholder="" required>
                            <div class="invalid-feedback">
                                Credit card number is required
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="cc-expiration" class="form-label">Expiration</label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                            <div class="invalid-feedback">
                                Expiration date required
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                            <div class="invalid-feedback">
                                Security code required
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to checkout</button>
                </form>
            </div>
        </div>
    </main>

</div>

</div>
{% endblock content %}