{% extends 'Rev_Artisan/base.html' %}
{% block content %}
<div id="product-product" class="container">
    <ul class="breadcrumb">
        <li><a href="http://rozer4.demo2.towerthemes.com/"><i class="fa fa-home"></i></a></li>
        <li><a href="http://rozer4.demo2.towerthemes.com/720-degree-panoramic-hd-360-video-vr-cameras-dual">{{product.name}}</a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="product-details">
                <div class="row">
                    <div class="col-sm-6 col-lg-6 product-image-details">
                        <input type="hidden" id="check-use-zoom" value="1" />
                        <input type="hidden" id="light-box-position" value="1" />
                        <input type="hidden" id="product-identify" value="36" />
                        <div class="lightbox-container"></div>
                        <div class="product-zoom-image">
                            <a href="{{product.image.url}}"
                                class="cloud-zoom main-image" id="product-cloud-zoom"
                                style="width: 800px; height: 800px;" rel=" showTitle: false ,
												zoomWidth:800,zoomHeight:800,
												 position:'inside', adjustX: 0 ">
                                <img src="{{product.image.url}}"
                                    title="{{product.name}}"
                                    alt="{{product.name}}" />
                            </a>
                        </div>
                        <div class="additional-container">
                            <div class="swiper-viewport">
                                <div class="additional-images swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="item swiper-slide">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-"
                                                href="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/11-800x800.jpg"
                                                title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                rel="useZoom: 'product-cloud-zoom', smallImage: 'http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/11-800x800.jpg'"
                                                data-pos="2">
                                                <img src="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/11-125x125.jpg"
                                                    title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                    alt="720 Degree Panoramic HD 360 Video VR Cameras Dual" />
                                            </a>
                                        </div>
                                        <div class="item swiper-slide">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-17"
                                                href="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/2-800x800.jpg"
                                                title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                rel="useZoom: 'product-cloud-zoom', smallImage: 'http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/2-800x800.jpg'"
                                                data-pos="3">
                                                <img src="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/2-125x125.jpg"
                                                    title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                    alt="720 Degree Panoramic HD 360 Video VR Cameras Dual" />
                                            </a>
                                        </div>
                                        <div class="item swiper-slide">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-"
                                                href="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/3-800x800.jpg"
                                                title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                rel="useZoom: 'product-cloud-zoom', smallImage: 'http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/3-800x800.jpg'"
                                                data-pos="4">
                                                <img src="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/3-125x125.jpg"
                                                    title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                    alt="720 Degree Panoramic HD 360 Video VR Cameras Dual" />
                                            </a>
                                        </div>
                                        <div class="item swiper-slide">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-"
                                                href="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/2-800x800.jpg"
                                                title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                rel="useZoom: 'product-cloud-zoom', smallImage: 'http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/2-800x800.jpg'"
                                                data-pos="5">
                                                <img src="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/2-125x125.jpg"
                                                    title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                    alt="720 Degree Panoramic HD 360 Video VR Cameras Dual" />
                                            </a>
                                        </div>
                                        <div class="item swiper-slide">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-"
                                                href="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/12-800x800.jpg"
                                                title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                rel="useZoom: 'product-cloud-zoom', smallImage: 'http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/12-800x800.jpg'"
                                                data-pos="6">
                                                <img src="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/12-125x125.jpg"
                                                    title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                    alt="720 Degree Panoramic HD 360 Video VR Cameras Dual" />
                                            </a>
                                        </div>
                                        <div class="item swiper-slide">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-"
                                                href="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/13-800x800.jpg"
                                                title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                rel="useZoom: 'product-cloud-zoom', smallImage: 'http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/13-800x800.jpg'"
                                                data-pos="7">
                                                <img src="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/13-125x125.jpg"
                                                    title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                    alt="720 Degree Panoramic HD 360 Video VR Cameras Dual" />
                                            </a>
                                        </div>
                                        <div class="item swiper-slide">
                                            <a class="cloud-zoom-gallery sub-image" id="product-image-options-18"
                                                href="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/20-800x800.jpg"
                                                title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                rel="useZoom: 'product-cloud-zoom', smallImage: 'http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/20-800x800.jpg'"
                                                data-pos="8">
                                                <img src="http://rozer4.demo2.towerthemes.com/image/cache/catalog/product/20-125x125.jpg"
                                                    title="720 Degree Panoramic HD 360 Video VR Cameras Dual"
                                                    alt="720 Degree Panoramic HD 360 Video VR Cameras Dual" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pager">
                                    <div class="swiper-button-next additional-button-next"></div>
                                    <div class="swiper-button-prev additional-button-prev"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6 col-lg-6 product-info-details">
                        <div class="inner">
                            <h1>{{product.name}}</h1>
                            <!-- <div class="rating">
                                <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>
                                <span class="icon-ratings"><i class="icon-rating icon-rating-x"></i></span>

                                <a href=""
                                    onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('ul.nav-tabs').offset().top}, 800); return false;">1
                                    reviews</a><a href=""
                                    onclick="$('a[href=\'#tab-review\']').trigger('click'); $('body,html').animate({scrollTop: $('ul.nav-tabs').offset().top}, 800); return false;">Write
                                    a review</a>

                            </div> -->


                            <p class="price">
                                ${{product.price}}
                            </p>

                            <ul class="list-unstyled">
                                <li>Brand: <a
                                        href="#">{{product.brand}}</a>
                                </li>
                                <li>Availability: <span>{% if product.available %}In Stock{% else %}Out of Stock{% endif %}</span></li>
                                <li>Left in stock: <span>{% if product.available %}{{product.quantity}}{% endif %}</span></li>
                            </ul>   

                            <div id="product">
                                <h3>Available Options</h3>
                                <div class="form-group">
                                    <label class="control-label" for="input-quantity">Qty</label>
                                    <input type="text" name="quantity" value="1" size="2" id="input-quantity"
                                        class="form-control" />
                                    <input type="hidden" name="product_id" value="36" />
                                    <button type="button" id="button-cart" data-loading-text="Loading..."
                                        class="btn btn-primary btn-lg btn-block">Add to Cart</button>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info-details-more">
                <div class="inner">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
                        <li><a href="#tab-review" data-toggle="tab">Reviews (1)</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-description">
                            <div>
                                <p>
                                    <strong>Video in your pocket.</strong>
                                </p>
                                <p>
                                    Its the small iPod with one very big idea: video. The worlds most popular music
                                    player now lets you enjoy movies, TV shows, and more on a two-inch display thats 65%
                                    brighter than before.</p>
                                <p>
                                    <strong>Cover Flow.</strong>
                                </p>
                                <p>
                                    Browse through your music collection by flipping through album art. Select an album
                                    to turn it over and see the track list.<strong>&nbsp;</strong></p>
                                <p>
                                    <strong>Enhanced interface.</strong>
                                </p>
                                <p>
                                    Experience a whole new way to browse and view your music and video.</p>
                                <p>
                                    <strong>Sleek and colorful.</strong>
                                </p>
                                <p>
                                    With an anodized aluminum and polished stainless steel enclosure and a choice of
                                    five colors, iPod nano is dressed to impress.</p>
                                <p>
                                    <strong>iTunes.</strong>
                                </p>
                                <p>
                                    Available as a free download, iTunes makes it easy to browse and buy millions of
                                    songs, movies, TV shows, audiobooks, and games and download free podcasts all at the
                                    iTunes Store. And you can import your own music, manage your whole media library,
                                    and sync your iPod or iPhone with ease.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-review">
                            <form class="form-horizontal" id="form-review">
                                <div id="review"></div>
                                <h2>Write a review</h2>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="input-name">Your Name</label>
                                        <input type="text" name="name" value="sohan&nbsp;snox" id="input-name"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label" for="input-review">Your Review</label>
                                        <textarea name="text" rows="5" id="input-review"
                                            class="form-control"></textarea>
                                        <div class="help-block"><span class="text-danger">Note:</span> HTML is not
                                            translated!</div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label">Rating</label>
                                        &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                        <input type="radio" name="rating" value="1" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="2" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="3" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="4" />
                                        &nbsp;
                                        <input type="radio" name="rating" value="5" />
                                        &nbsp;Good
                                    </div>
                                </div>

                                <div class="buttons clearfix">
                                    <div class="pull-right">
                                        <button type="button" id="button-review" data-loading-text="Loading..."
                                            class="btn btn-primary">Continue</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}