{% extends 'Rev_Artisan/base_head.html' %}
{% block content %}
<div>
    <div style="text-align: center;">
        <h2><a href="{% url 'home-page' %}"><img src="/static/media/logo3.png"
                    alt="logo"></a></h2>
    </div>
</div>
<div id="account-register" class="container">
    <ul class="breadcrumb">
        <li><a href="http://rozer4.demo2.towerthemes.com/"><i class="fa fa-home"></i></a></li>
        <li><a href="{% url 'login' %}">Account</a></li>
        <li><a href="#">Register</a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>Register Account</h1>
            <p>If you already have an account with us, please login at the <a
                    href="{% url 'login' %}">login page</a>.</p>
            <form action="." method="post"
                enctype="multipart/form-data" class="form-horizontal">
                {% csrf_token %}
                
                <fieldset id="account">
                    <legend>Your Personal Details</legend>
                    
                    <div class="form-group required" style="display:  none ;">
                        <label class="col-sm-2 control-label">Customer Group</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="customer_group_id" value="1" checked="checked" />
                                    Default</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-firstname">First Name</label>
                        <div class="col-sm-10">
                            {{ form.first_name }}
                            <!-- <input type="text" name="firstname" value="" placeholder="First Name" id="input-firstname"
                                class="form-control" /> -->
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-lastname">Last Name</label>
                        <div class="col-sm-10">
                            {{ form.last_name }}
                            <!-- <input type="text" name="lastname" value="" placeholder="Last Name" id="input-lastname"
                                class="form-control" /> -->
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-lastname">User Name</label>
                        <div class="col-sm-10">
                            {{ form.username }}
                            <!-- <input type="text" name="lastname" value="" placeholder="Last Name" id="input-lastname"
                                class="form-control" /> -->
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
                        <div class="col-sm-10">
                            {{ form.email }}
                            <!-- <input type="email" name="email" value="" placeholder="E-Mail" id="input-email"
                                class="form-control" /> -->
                        </div>
                    </div>
                    
                </fieldset>
                <fieldset>
                    <legend>Your Password</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-password">Password</label>
                        <div class="col-sm-10">
                            {{ form.password1 }}
                            <!-- <input type="password" name="password" value="" placeholder="Password" id="input-password"
                                class="form-control" /> -->
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
                        <div class="col-sm-10">
                            {{ form.password2 }}
                            <!-- <input type="password" name="confirm" value="" placeholder="Password Confirm"
                                id="input-confirm" class="form-control" /> -->
                        </div>
                    </div>
                </fieldset>


                <div class="buttons">
                    <div class="pull-right">
                        <input type="submit" value="Continue" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- java script of theme forrest -->
<!-- <script type="text/javascript">
    // Sort the custom fields
    $('#account .form-group[data-sort]').detach().each(function () {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
                    $('#account .form-group').eq($(this).attr('data-sort')).before(this);
                }

                if ($(this).attr('data-sort') > $('#account .form-group').length) {
                    $('#account .form-group:last').after(this);
                }

                if ($(this).attr('data-sort') == $('#account .form-group').length) {
                    $('#account .form-group:last').after(this);
                }
                
                if ($(this).attr('data-sort') < -$('#account .form-group').length) {
                    $('#account .form-group:first').before(this);
                }
            });
            
            $('input[name=\'customer_group_id\']').on('change', function () {
                $.ajax({
                    url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
                    dataType: 'json',
                    success: function (json) {
                        $('.custom-field').hide();
                        $('.custom-field').removeClass('required');
                        
                        for (i = 0; i < json.length; i++) {
                            custom_field = json[i];
                            
                            $('#custom-field' + custom_field['custom_field_id']).show();

                            if (custom_field['required']) {
                                $('#custom-field' + custom_field['custom_field_id']).addClass('required');
                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            });
            
            $('input[name=\'customer_group_id\']:checked').trigger('change');
        </script>
        <script type="text/javascript">
            $('button[id^=\'button-custom-field\']').on('click', function () {
                var element = this;

                $('#form-upload').remove();

                $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

                $('#form-upload input[name=\'file\']').trigger('click');
                
                if (typeof timer != 'undefined') {
                    clearInterval(timer);
                }

                timer = setInterval(function () {
                    if ($('#form-upload input[name=\'file\']').val() != '') {
                        clearInterval(timer);
                        
                        $.ajax({
                            url: 'index.php?route=tool/upload',
                            type: 'post',
                            dataType: 'json',
                            data: new FormData($('#form-upload')[0]),
                            cache: false,
                            contentType: false,
                            processData: false,
                            beforeSend: function () {
                                $(element).button('loading');
                            },
                            complete: function () {
                                $(element).button('reset');
                            },
                            success: function (json) {
                                $(element).parent().find('.text-danger').remove();
                                
                                if (json['error']) {
                                    $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                                }
                                
                                if (json['success']) {
                                    alert(json['success']);
                                    
                                    $(element).parent().find('input').val(json['code']);
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                        });
                    }
                }, 500);
            });
        </script>
        <script type="text/javascript">
            $('.date').datetimepicker({
                language: 'en-gb',
                pickTime: false
            });

            $('.time').datetimepicker({
                language: 'en-gb',
                pickDate: false
            });
            
            $('.datetime').datetimepicker({
                language: 'en-gb',
                pickDate: true,
                pickTime: true
            });
        </script>        -->
{% endblock content %}