/* filter */

.pt-filter {

    border-radius: 0;

    box-shadow: none;

    -webkit-box-shadow: none;

    border: 0;

    background: transparent;

    margin-bottom: 30px;

}

.pt-filter .layered-heading {
    font-size: 2.4rem;
    font-family: var(--heading-font);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
    padding: 10px 15px;
    margin-top: 0;
    background: var(--link-hover-color);
    margin-bottom: 10px;
    border: 0;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    display: none;
}

.pt-filter .layered-heading:before {

    content: "\f38b";

    font-family: "Ionicons";

    font-weight: 400;

    margin-right: 15px;

}

.pt-filter .layered {}

.pt-filter .list-group {

    margin: 0;

    padding: 0;

}

.filter-attribute-container {

    clear: both;

    margin-bottom: 40px;

    position: relative;
    border: 2px solid #f7f7f7;
    border-radius: 5px;
    padding: 30px;
}



.filter-attribute-container:last-child:after {
    display: none;
}

.filter-attribute-container:last-child {}

.filter-attribute-container label {

    display: block;

    font-size: 1.8rem;

    text-transform: capitalize;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 0;

    border-bottom: 1px solid #ebebeb;
    font-weight: 600;
    position: relative;

    color: var(--heading-color);

}

.filter-attribute-container label:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 60px;
    height: 2px;
    background: var(--link-hover-color);
}

.filter-attribute-container .list-group-item {

    border: 0;

    padding: 0;

    display: inline-block;

    vertical-align: top;

    width: 100%;

    border-radius: 0;

    -webkit-border-radius: 0;

}

.filter-attribute-container .list-group-item div a {

    line-height: 24px;

    padding: 8px 0;

    display: block;

    position: relative;
    font-size: 14px;
    padding-left: 35px;

    color: #47494a;
}

.filter-attribute-container .list-group-item div a:hover {
    color: var(--link-hover-color);
}

.filter-attribute-container .list-group-item div a:before {

    content: "";

    font-family: "Ionicons";

    line-height: 13px;

    width: 15px;

    height: 15px;

    border: 1px solid #dfdfdf;

    text-align: center;

    border-radius: 3px;

    -webkit-border-radius: 3px;

    position: absolute;

    left: 0;

    font-size: 1rem;

    top: 50%;

    -moz-transform: translateY(-50%);

    -webkit-transform: translateY(-50%);

    -o-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    transform: translateY(-50%);
}

.filter-attribute-container .list-group-item div a:hover:before {
    border-color: var(--link-hover-color);
    content: "\f383";
    background: var(--link-hover-color);
    color: #fff;
}

.filter-attribute-container .list-group-item div a>span {
    /* color: #999; */
}

.filter-attribute-container .list-group-item div a:hover>span {
    color: var(--link-hover-color);
}

.filter-attribute-container .list-group-item div a:nth-child(even) {}

.filter-attribute-remove-container {
    padding: 0;
    border: 0;
    margin: 0;
}

.filter-attribute-remove-container:after {
    display: none;
}

.filter-attribute-remove-container p {

    float: left;

}

.filter-attribute-remove-container .remove-filter {

    float: right;

    color: red;

}

.filter-attribute-remove-container .remove-filter:hover {

    color: var(--link-hover-color);

}

.filter-attribute-remove-container .filter-clear-all {

    border-bottom: 1px solid #efefef;

    padding-bottom: 3rem;

    margin-bottom: 3rem;

}

.filter-attribute-remove-container .clear-filter {

    line-height: 2.2rem;

    font-size: 1rem;

    text-transform: uppercase;

    background: #333;

    display: inline-block;

    vertical-align: top;

    padding: 0 9px;

    color: #fff;

    font-weight: 700;

    float: right;

    margin: 1rem 0 0 0;

}

.filter-attribute-remove-container .clear-filter:hover {

    background: var(--link-hover-color);

}

.filter-price {

    padding-top: 20px;

}

#slider-price {

    border: 0;

    height: 5px;

    background: #e8e3dd;

    border-radius: 0;

    -webkit-border-radius: 0;

    box-shadow: inset 0 2px 0 0 #cacaca;

    -webkit-box-shadow: inset 0 2px 0 0 #cacaca;
}

.ui-slider .ui-slider-range {

    background: var(--link-hover-color);

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {

    width: 13px;

    height: 13px;

    background: #fff;

    border-radius: 100%;

    -webkit-border-radius: 100%;

    border: 0;

    cursor: pointer;

    outline: none;

    margin: -6.5px 0 0 0;

    top: 50%;

    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);

    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.ui-state-default, .ui-widget-content .ui-state-default:last-child, .ui-widget-header .ui-state-default:last-child {

    margin-left: -13px;
}

.ui-state-hover,

.ui-widget-content .ui-state-hover,

.ui-widget-header .ui-state-hover,

.ui-state-focus,

.ui-widget-content .ui-state-focus,

.ui-widget-header .ui-state-focus {

    background: #146cda;

    box-shadow: none;

    -webkit-box-shadow: none;

}

.slider-values {

    margin-top: 15px;

    color: #2b2d2f;
}

.slider-values input {

    background: none;

    border: 0;

    width: 35%;

}

@media (max-width: 991px) {

    .list-group-item, .list-categories-content {

        max-height: 215px;

        overflow: auto;

    }

    .filter-price {

        padding-left: 3px;

        padding-right: 3px;

    }

}